<h1 class="first-header">BC Libraries Coop</h1>

<p>This data is aggregated from our automated service monitoring system as well as the outage and maintenance notices posted below.</p>

<h2>Service Availability Overview</h2>

<div class="row">
  <div class="col-lg-4">
    <h3>SITKA</h3>
    <%= services_info_regex /^sitka::/ %>
    <h3>Hosted 3rd-parties</h3>
    <%= services_info_regex /^thirdparty::/ %>
  </div>
  <div class="col-lg-4">
    <h3>Coop Services</h3>
    <%= services_info_regex /^coop::/ %>
    <h3>NNELS</h3>
    <%= services_info_regex /^nnels::/ %>
  </div>
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">
    <h3>Conifer</h3>
    <%= services_info_regex /^conifer::/ %>
  </div>
</div>

<h2 id="notices">Maintenance and Outage Notices <small id="notices-for"></small></h2>

<%= partial :notice, :collection => NoticeStore.instance.visible_notices %>
